/* source key position labels */
#include "zmk-helpers/key-labels/42.h"

/* map Corne's extra keys */
#define X_LT  &trans
#define X_LM  &trans
#define X_LB  &trans
#define X_LH  &trans    // thumb row, left

#define X_RT  &trans      // top row, right
#define X_RM  &trans
#define X_RB  &trans
#define X_RH  &trans       // thumb row, right

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"
